<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profiles Extension</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="../js/networks.js" defer></script>
    <script src="../js/edit.js" defer></script>
  </head>
  <body style="min-width: 500px; min-height: 200px">
    <div class="container">
      <form id="form" class="m-3">
        <div class="form-group">
          <label for="name">Your name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="name"
            required="required"
          />
        </div>

        <!-- Networks are added via JS script -->

        <!-- Submit btn also added via the JS script -->
      </form>
    </div>
  </body>
</html>
