<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Profiles Extension</title>
    <script src="../js/networks.js" defer></script>
    <script src="../js/popup.js" defer></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
        <div>
          <h2 class="d-flex justify-content-center">
            Hi&nbsp;<span id="name-span"></span>!
          </h2>
          <div
            id="social-icons-list"
            style="
              margin: 30px;
              min-width: 550px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 10px;"
          ></div>
        </div>
    </div>
    <hr />
    <div class="container">
      <div class="row d-flex justify-content-center">
        <a id="edit" class="btn btn-primary mb-3" href="edit.html" role="button"
          >Edit</a
        >
      </div>
    </div>
  </body>
</html>
